.nav-link:hover {
    font-weight: bold;
    background-color: #fb3c3c;
    border-radius: 5px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #1e3b73;
}

.logo-pequeno {
    max-width: 3rem;
    height: auto;
    cursor: pointer;
}

.logo-text-container {
    display: flex;
    flex-direction: row;
}

.logo-text {
    margin-top: 15px;
    margin-left: 10px;
    color: #fff;
}

a {
    cursor: pointer;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.custom-toggler.navbar-toggler {
    border-color: #fb3c3c;
}


@media (max-width: 768px) {
    .logo {
        max-width: 80px;
    }
}